[Unit]
Description=Power Meter Monitor
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=30min
StartLimitBurst=59

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=30
TimeoutStopSec=90
ExecStartPre=/bin/rm -f %t/container-py-power-meter-monitor.pid %t/container-py-power-meter-monitor.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/container-py-power-meter-monitor.pid --cidfile %t/container-py-power-meter-monitor.ctr-id --cgroups=no-conmon -d --device /dev/ttyUSB0:/dev/ttyUSB0 --volume %h/py-power-meter-monitor-config.toml:/home/py-power-meter-monitor/config.toml:ro -i -t localhost/py-power-meter-monitor:latest --config-file config.toml
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-py-power-meter-monitor.ctr-id -t 30
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-py-power-meter-monitor.ctr-id
PIDFile=%t/container-py-power-meter-monitor.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
